// Specific CSS for your home-page
.center h1 {
justify-content: center;
width: fit-content;
padding: 4px;
font-size: 18px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
margin: 0 auto;
}

.center {
  justify-content: center;
}

.page-container {
  display: flex;
  padding: 20px;
}
