<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pet.address %>
  </p>

  <%# <p>
    <strong>Stars:</strong>
    <%= pet.stars %>
  <%# </p> %>

</div>
