
    <main data-controller="banner">

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80">
        <p>Consultez les petits toutous tout doux ou optez pour un gros toutou poillus</p>
        <p><%= link_to "Voir", pets_path, class: "see-more-button" %></p>
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://i.imgur.com/d5LcHlk.png">
            <p>Consultez les petits chats tout mignons  qui font des ronrons</p>
        <p><%= link_to "Voir", pets_path, class: "see-more-button" %></p>
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1610629029949-20c90405b12b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
              <p>Fan des noisettes ? Lui aussi il n'attend que vous pour faire joujou </p>
        <p><%= link_to "Voir", pets_path, class: "see-more-button" %></p>
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1628148061873-13b9340f763b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80">
              <p>Doux comme la laine mais jamais sans ses potes louez un troupeau de moutons</p>
        <p><%= link_to "Voir", pets_path, class: "see-more-button" %></p>
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1685790781090-38eb855542f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">

        </div>
        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1686412424901-1e45b1c990e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1685721798478-07ec20217afe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1685859744390-8be21a6d1cd1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1684361822885-100cc43b7f0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
        </div>

        <div class="card-banner" onclick="selectImage(this)">
            <img class="banner-img" src="https://images.unsplash.com/photo-1590691565921-287ded4c80ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80">
        </div>

    </main>
