<h1>Infos sur l'entreprise</h1>

<p>Pets and Kibbles est une entreprise fondée en 2023 par une équipe de passionnés d'animaux qui se sont rendu compte que tout le monde mérite un peu de temps avec un ami à fourrure. Nous avons commencé avec un seul chien et un rêve, et maintenant nous aidons les gens du monde entier à trouver l'animal parfait pour une journée, une semaine ou même un mois.</p>

<p>Nous avons plus de peluches que d'employés et nous ne pourrions pas être plus heureux. Notre mission est de rendre le monde plus heureux, un animal à la fois.</p>
