<h1>Mentions légales</h1>
<h2>Protection des données sur Pets and Kibbles</h2>

<p>Deux animaux sont assis à une table dans une cabane en bois et examinent un morceau de fromage.</p>
<h3>Politique de confidentialité</h3>

<p>La Politique de confidentialité de Pets and Kibbles décrit vos droits en matière de protection de la vie privée, le type de données personnelles collectées, le type de griffes que nous utilisons pour gratter ces données et comment nous communiquons avec nos animaux pour s'assurer qu'ils ne sont pas en train de les dévorer.</p>

<h4>Amérique du Nord (hors Mexique)</h4>
<ul>
  <li>Politique de confidentialité pour les États-Unis (notamment pour les chiens, les chats, les hamsters et les perroquets).</li>
  <li>Politique de confidentialité en dehors des États-Unis (anglais)</li>
  <li>Politique de confidentialité en dehors des États-Unis (chats français)</li>
</ul>

<p>Veuillez consulter les politiques de confidentialité supplémentaires en suivant les liens fournis dans les politiques de confidentialité, par exemple celles relatives à certains services de Pets and Kibbles qui peuvent s'appliquer à votre animal de compagnie.</p>

<h5>Documents complémentaires relatifs à la Politique de confidentialité :</h5>
<ul>
  <li>Californie, Colorado, Connecticut, Utah, Vermont et Virginie (ainsi que les zones à forte population de chiens de prairie)</li>
  <li>Politique en matière de cookies (et de croquettes)</li>
  <li>Clients Entreprise et Pets and Kibbles for Work</li>
  <li>Colombie uniquement (et uniquement pour les lamas)</li>
  <li>Avis de confidentialité relatif à la directive DAC 7 concernant les non-utilisateurs (et les animaux sans abonnement)</li>
</ul>

<p>Sur le même sujet</p>
<ul>
  <li>Politique de confidentialité : Veuillez consulter notre Politique de confidentialité (nous ne donnerons pas vos informations aux chiens).</li>
  <li>Politique de confidentialité pour les États-Unis : Veuillez consulter notre Politique de confidentialité (nous ne donnerons pas vos informations aux écureuils non plus).</li>
  <li>Informations de base sur Pets and Kibbles : Vérification de votre identité et de celle de votre animal de compagnie. Nous prenons la sécurité de votre compte très au sérieux. Découvrez les mesures que nous prenons, non seulement pour vérifier votre identité, mais aussi pour s'assurer que votre animal de compagnie est en fait un animal et non un dinosaure déguisé.</li>
</ul>
