<div class="center">
  <h1>Parcourir par espèce</h1>
  <div class="banner-container">
    <%= render 'shared/banner' %>
  <h1>Nos suggestions</h1>
    <div id="suggestions">
      <div class="card-container">
        <% @pets.sample(6).each do |pet| %>
        <%= render partial: "shared/pet", locals: { pet: pet } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="see-more-container">
    <%= link_to "Voir plus d'animaux", pets_path, class: "see-more-button" %></li>
  </div>
</div>
