<h1>Fonctionnement du site</h1>

<p>Sur Pets and Kibbles, nous avons rendu le processus de location aussi simple que de jouer à la balle. Voici comment cela fonctionne :</p>

<ul>
  <li>Sélectionnez l'animal que vous voulez louer. Nous avons une grande variété, allant des chiens aux chats, en passant par les lapins et même quelques hamsters.</li>
  <li>Choisissez votre période de location. Que ce soit pour une après-midi de jeu ou une semaine de câlins, nous avons ce qu'il vous faut.</li>
  <li>Procédez au paiement. Malheureusement, nous n'acceptons pas les croquettes comme mode de paiement. Seulement les cartes de crédit et PayPal.</li>
  <li>Rencontrez votre nouveau meilleur ami. Profitez de votre temps avec votre animal et n'oubliez pas de partager des photos sur les réseaux sociaux. Nous adorons voir nos clients heureux !</li>
</ul>
