<h1>Conditions générales</h1>

<p>Bienvenue sur Pets and Kibbles, l'endroit idéal pour louer des animaux de compagnie mignons et câlins pour des moments de tendresse inoubliables. Cependant, pour garder ce site en sécurité, nous avons quelques règles :</p>

<ul>
  <li>Ne vous faites pas passer pour un animal. Nous sommes un site pour les humains qui veulent interagir avec des animaux, pas l'inverse.</li>
  <li>Aucun échange de jouets à mâcher contre des services. Nous avons un système de réservation officiel pour ça.</li>
  <li>Ne pas utiliser de langage abusif ou offensant. Cela comprend les aboiements, les miaulements et les gazouillis agressifs.</li>
  <li>Les croquettes ne sont pas une monnaie officielle. N'essayez pas de payer votre loyer ou votre facture d'électricité avec.</li>
</ul>
