.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
}

.map-container {
  flex-shrink: 0;
  max-width: 700px; /* Largeur maximale de la div de la carte */
  min-width: 550px;
  margin: 20px; /* Ecart à droite de la carte */
}

#map {
  top: 50px; /* Ajustez la valeur en fonction de la position souhaitée */
}
.map-container #map{
  margin-right: 50px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 750px;
  position: sticky;
}

/* popup map */

.popup-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.popup-content {
  font-family: "Open Sans", sans-serif;
}

.popup-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.popup-address {
  font-size: 14px;
  color: #888;
  margin: 5px 0;
}

.popup-price {
  font-size: 16px;
  color: #ea726b;
  margin: 0;
}
