

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

.hidden {
  display: none;
}


.card-container{
  width: 900px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card-trip {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.card {
  font-family:"Work Sans", "Helvetica", "sans-serif";
  text-align: center;
  display: flex;

  align-items: center;
  width: 220px;
  height: 220px;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.card img {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}



.card-trip-infos h2 {
  margin: 0;
}

.card-trip-pricing {
  margin: 0;
  font-size: 24px;
}

.card-trip-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5914e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}

.see-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-more-button {
  background-color: #f5914e;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
}

.see-more-button:hover {
  background-color: #d98035;
}
