.login-form-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.login-form-container h2 {
  color: #ea726b;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form-container input[type="email"],
.login-form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.login-form-container .form-actions {
  text-align: center;
}

.login-form-container .form-actions input[type="submit"] {
  background-color: #ea726b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form-container .form-actions input[type="submit"]:hover {
  background-color: #d85f58;
}

.login-form-container .devise-links {
  margin-top: 20px;
  text-align: center;
}

.login-form-container .devise-links a {
  color: #ea726b;
}

.login-form-container .devise-links a:hover {
  text-decoration: underline;
}
.avatar-profil {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profil-container {
  width: 600px;
  max-height: 270px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: white;
}
.profil-container h2 {
  color: #ea726b;
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
}
.profil-evaluation-container {
  padding-top: 80px;
  padding-left: 150px;
}
.infos-pets-user {
  padding-top: 35px;
}
.infos-pets-user p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.infos-pets-user .last-p {
  border-bottom: none;
}
.number-user {
  font-size: 23px;
}
.evaluation-container {
  width: 600px;
  max-height: 270px;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: white;
}
.evaluation-container h2 {
  color: #ea726b;
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
}
.form-inputs input {
  background-color: white;
}
.form-inputs .collection {
 background-color: white;
}
