footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer .container {
  text-align: center;
}

footer::after {
  content: "";
  display: block;
  clear: both;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-links li:not(:last-child) {
  margin-right: 20px;
}

.footer-link {
  color: #555;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
