#reservations-title {
  color: #ea726b;
  margin: 30px 50px;
}
.reservation-container {
  width: 460px;
  height: 200px;
  margin: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.reservation-container:hover {
  height: 240px;
  transition: 500ms;
}

.photo-reservation {
  height: 100%;
  width: 200px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.name {
  border-bottom: 1px solid #ddd;
}
.dates {
  padding: 10px;
}
.link-pet-name {
  text-decoration: none;
  color: #ea726b;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.link-pet-name:hover {
  opacity: 0.6;
}
.icon {
  color: #ea726b;
  padding: 4px;
}
.all-reservations {
  justify-content: center;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
@media (max-width: 768px) {
  .reservation-container {
    flex-basis: 100%;
  }
}
