#user-pets-title {
  color: #ea726b;
  margin: 30px 50px;
}
.card-links-user {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 5px;
}
.card-links-user .link-user {
  text-decoration: none;
  color: #ea726b;
  padding: 5px;
}
.card-links-user .link-user:hover {
  font-size: 18px;
  background-color: #ea726b;
  color: white;
  border-radius: 20px;
}
.all-pets-user {
  justify-content: center;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
@media (max-width: 768px) {
  .card-trip-user-pet {
    flex-basis: 100%;
  }
}
.card-trip-user-pet {
  margin: 40px;
}
.card-trip-user i {
  padding-left: 2px;
}
.infos-pets {
  justify-content: center;
}
.card-trip-infos-user-pets {
  text-align: center;
}
.card-trip-pricing-user {
  font-size: 18px;
  font-weight: bold;
}
